{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Customers list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Customername</th>
                <th>Contactlastname</th>
                <th>Contactfirstname</th>
                <th>Phone</th>
                <th>Addressline1</th>
                <th>Addressline2</th>
                <th>City</th>
                <th>State</th>
                <th>Postalcode</th>
                <th>Country</th>
                <th>Creditlimit</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('customers_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.customername }}</td>
                <td>{{ entity.contactlastname }}</td>
                <td>{{ entity.contactfirstname }}</td>
                <td>{{ entity.phone }}</td>
                <td>{{ entity.addressline1 }}</td>
                <td>{{ entity.addressline2 }}</td>
                <td>{{ entity.city }}</td>
                <td>{{ entity.state }}</td>
                <td>{{ entity.postalcode }}</td>
                <td>{{ entity.country }}</td>
                <td>{{ entity.creditlimit }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('customers_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('customers_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('customers_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
