{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Customers</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Customername</th>
                <td>{{ entity.customername }}</td>
            </tr>
            <tr>
                <th>Contactlastname</th>
                <td>{{ entity.contactlastname }}</td>
            </tr>
            <tr>
                <th>Contactfirstname</th>
                <td>{{ entity.contactfirstname }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ entity.phone }}</td>
            </tr>
            <tr>
                <th>Addressline1</th>
                <td>{{ entity.addressline1 }}</td>
            </tr>
            <tr>
                <th>Addressline2</th>
                <td>{{ entity.addressline2 }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ entity.city }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ entity.state }}</td>
            </tr>
            <tr>
                <th>Postalcode</th>
                <td>{{ entity.postalcode }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ entity.country }}</td>
            </tr>
            <tr>
                <th>Creditlimit</th>
                <td>{{ entity.creditlimit }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('customers') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('customers_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
