<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
		<link rel="stylesheet" href="{{ asset('stylesheets/foundation.css') }}" />
    </head>
    <body>
		<nav class="top-bar" data-topbar role="navigation">
		 <ul class="title-area"> 
			 <li class="name">
			  <h1><a href="#">ERP Javo</a></h1>
			</li>
			  <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
		 </ul>
		<section class="top-bar-section">
		<ul class="left">
			<li>
			  <a href="{{path("customers")}}">Customers</a>
			</li>
			<li>
			  <a href="{{path("employees")}}">Employees</a>
			</li>
			<li >
			  <a href="{{path("offices")}}">Offices</a>
			</li>
			<li >
			  <a href="{{path("orders")}}">Orders</a>
			</li>
			<li >
			  <a href="{{path("productlines")}}">Productlines</a>
			</li>
			<li>
			  <a href="{{path("products")}}">Products</a>
			</li>		
		</ul>
		 </section> 
		 <nav>
		 
		 <div class="row">
		 <div class="large-12 columns">
			{% block body %}{% endblock %}	
		</div>		
		</div>
        {% block javascripts %}{% endblock %}
    </body>
</html>