{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Productlines</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Textdescription</th>
                <td>{{ entity.textdescription }}</td>
            </tr>
            <tr>
                <th>Htmldescription</th>
                <td>{{ entity.htmldescription }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ entity.image }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('productlines') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('productlines_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
