{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Products list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Productname</th>
                <th>Productscale</th>
                <th>Productvendor</th>
                <th>Productdescription</th>
                <th>Quantityinstock</th>
                <th>Buyprice</th>
                <th>Msrp</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('products_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.productname }}</td>
                <td>{{ entity.productscale }}</td>
                <td>{{ entity.productvendor }}</td>
                <td>{{ entity.productdescription }}</td>
                <td>{{ entity.quantityinstock }}</td>
                <td>{{ entity.buyprice }}</td>
                <td>{{ entity.msrp }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('products_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('products_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('products_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
