{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Products</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Productname</th>
                <td>{{ entity.productname }}</td>
            </tr>
            <tr>
                <th>Productscale</th>
                <td>{{ entity.productscale }}</td>
            </tr>
            <tr>
                <th>Productvendor</th>
                <td>{{ entity.productvendor }}</td>
            </tr>
            <tr>
                <th>Productdescription</th>
                <td>{{ entity.productdescription }}</td>
            </tr>
            <tr>
                <th>Quantityinstock</th>
                <td>{{ entity.quantityinstock }}</td>
            </tr>
            <tr>
                <th>Buyprice</th>
                <td>{{ entity.buyprice }}</td>
            </tr>
            <tr>
                <th>Msrp</th>
                <td>{{ entity.msrp }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('products') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('products_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
