{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Orders list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Orderdate</th>
                <th>Requireddate</th>
                <th>Shippeddate</th>
                <th>Status</th>
                <th>Comments</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('orders_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.orderdate %}{{ entity.orderdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.requireddate %}{{ entity.requireddate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.shippeddate %}{{ entity.shippeddate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.status }}</td>
                <td>{{ entity.comments }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('orders_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('orders_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('orders_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
