{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Orders</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Orderdate</th>
                <td>{{ entity.orderdate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Requireddate</th>
                <td>{{ entity.requireddate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Shippeddate</th>
                <td>{{ entity.shippeddate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ entity.status }}</td>
            </tr>
            <tr>
                <th>Comments</th>
                <td>{{ entity.comments }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('orders') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('orders_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
